h2
{
    color: #333;
    font-size: 224px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
} 
.rainbow-text {
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet, indigo, blue, green, yellow, orange, red);
  background-size: 400%;
  background-position: 0%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 3s linear infinite;
}
@keyframes rainbow {
  0% { background-position: 0%; }
  100% { background-position: 100%; }
}
button
{
    background-color: #333;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

